@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .group:hover .group-hover\:block {
    display: block;
    text-decoration: underline;
  }
}

.mx-transactions > td {
  @apply p-2;
}

.mx-transactions td > span,
.mx-transactions td > div {
  @apply flex w-max;
}

.mx-transactions td > div > a {
  @apply text-blue-600;
}

.output-container {
  max-height: 800px;
}

.dapp-core-component__dappModalStyles__dappModalContent {
  max-width: 600px !important;
}

.dapp-core-component__dappModalStyles__dappModalBody, .dapp-core-component__dappModalStyles__dappModalContent {
  border-radius: 12px !important;
}

.login-modal .dapp-core-component__dappModalStyles__dappModalContent {
  max-width: 800px !important;
}

.login-modal .dapp-core-component__dappModalStyles__dappModalHeader {
  padding: 0 !important;
}

.login-modal .dapp-core-component__main__h4 {
  margin: 0 !important;
}

.dapp-core-component__signWithDeviceModalStyles__title, .dapp-core-component__confirmAmountDataStyles__confirmAmountDataBalance {
  color: #000 !important;
  font-size: 1.5em !important;
  margin-bottom: 10px !important;
}

.dapp-core-component__signWithDeviceModalStyles__sign-button-cancel {
  @apply text-blue-600 !important;
  margin-top: 24px !important;
}

.dapp-core-component__main__btn-primary {
  @apply bg-blue-600 !important;
}

.dapp-core-component__signWithDeviceModalStyles__sign-buttons {
  margin: 0 !important;
  padding: 0 !important;
}

.dapp-core-component__main__text-muted {
  @apply text-gray-400 !important;
}

.dapp-core-component__confirmReceiverStyles__receiverLabel,
.dapp-core-component__confirmAmountLabelStyles__confirmAmountLabel,
.dapp-core-component__confirmFeeStyles__confirmFeeLabel,
.dapp-core-component__confirmAmountDataStyles__confirmAmountDataPrice,
.dapp-core-component__TransactionDataStyles__transactionDataLabel {
  @apply text-gray-400 !important;
  margin-bottom: 4px !important;
}

.dapp-core-component__confirmAmountDataStyles__confirmAmountDataPrice {
  margin: 0 !important;
}

.dapp-core-component__addressTableStyles__ledger-address-table-wrapper {
  padding: 40px 0 !important;
}

.dapp-core-component__main__card-body, .dapp-core-component__dappModalStyles__dappModalBody {
  padding: 0 !important;
}

/* Input styles */
.dapp-core-component__TransactionDataStyles__transactionData .dapp-core-component__TransactionDataStyles__transactionDataValueWrapper {
  width: 100% !important;
  padding: 10px !important;
  border: 1px solid #ccc !important;
  border-radius: 5px !important;
  box-sizing: border-box !important;
}

.dapp-core-component__balanceStyles__balanceSymbol {
  color: #0ac2ae !important;
}

.password-visibility-toggle {
  color: var(--body-color);
  cursor: pointer;
  margin: 36px 12px 0 0;
  padding: 1px;
  position: absolute;
  right: 0;
  top: 0;
  transition: var(--transition);
  width: 24px;

  &:hover {
    opacity: 0.75;
  }
}

.DraggableTags {
  display: flex;
  flex-flow: row wrap;
  gap: 0.5rem;
  align-items: center;
  justify-content: flex-start;
}


/* In your main CSS file, e.g., src/index.css */

.unlock-background {
  background-image: url('https://www.okaybliss.com/the-backrooms-a-real-place/'); /* Path relative to the public folder */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
